/*
   1. GENEL SAYFA AYARLARI
    */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App-container {
  max-width: 1100px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

/*2. GİRİŞ EKRANI (StartScreen)*/
.start-container {
  background-color:#2c3e50; 
  color: white; 
  padding: 40px;
  min-height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.start-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white; 
}

.rules-section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
  text-align: left; 
}

.rules-section h2 {
  font-size: 1.2rem;
  color:#3498db; 
  margin-top: 0;
}


.mode-selection h3 {
  color:#bdc3c7;
  font-weight: normal;
}

/*
   3. BUTONLAR
   */
.button-area {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.start-button {
  background-color:#3498db;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.start-button:hover {
  background-color:#2980b9;
}

 /*
   4. OYUN EKRANI (GameScreen)  */
.game-area {
  background-color: white;
  width: 100%;
  box-sizing: border-box; 
  
  padding: 40px;
  min-height: 450px;
  
  display: flex;      
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  
  border-radius: 12px;
  box-shadow: 0 5px 15px lightgray;
  color: black;
}

/* Üst Bilgi */
.game-info h3 {
  color: midnightblue;
  font-size: 1.5rem;
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 10px;
  margin-top: 0;
}

.game-info h2 {
  color:red;
  font-size: 2.5rem;
  margin: 10px 0;
}

/* Görsel Kutular Alanı */
.image-selection-area {
  display: flex;
  justify-content: center;
  
  gap: 20px; 
  width: 100%;
  margin: 20px 0;
}

/* Görsel Kutuları */
.placeholder-image {
  width: 180px; 
  height: 180px;
  
  background-color: #f8f9fa; 
  border: 3px solid lightgray; 
  border-radius: 15px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: gray;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  
  transition: all 0.2s ease; 
}

.placeholder-image:hover {
  background-color: aliceblue; 
  border-color: dodgerblue; 
  color: dodgerblue;
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/* Buton */
.game-area button {
  background-color: transparent;
  border: 2px solid lightgray;
  color: gray;
  padding: 10px 30px;
  border-radius: 50px; 
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s;
}

.game-area button:hover {
  background-color: #333;
  color: white;
  border-color: #333;
}
